#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 2px solid black;
  border-radius: 5px 5px;
  text-align: center;
  background-color: rgb(20, 20, 19);
}
ul {
  display: flex;
}
#navbar li a {
  color: #fff;
  padding: 5px 10px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  width: 100px;
  display: inline-block;
  font-size: 20px;
}
ul#navbar li a:hover {
  color: lightgoldenrodyellow;
  text-decoration: underline;
}
img.product {
  width: 400px;
  display: block;
  margin: 0 auto;
}
img.title {
  display: block;
  margin: 0 auto;
}
